body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1177px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:498px;
  height:16px;
}
#u1234 {
  position:absolute;
  left:30px;
  top:244px;
  width:498px;
  height:16px;
}
#u1235 {
  position:absolute;
  left:0px;
  top:0px;
  width:498px;
  word-wrap:break-word;
}
#u1236_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:6px;
  height:22px;
}
#u1236 {
  position:absolute;
  left:17px;
  top:242px;
  width:3px;
  height:19px;
}
#u1237 {
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:42px;
}
#u1238 {
  position:absolute;
  left:925px;
  top:237px;
  width:211px;
  height:42px;
}
#u1239 {
  position:absolute;
  left:2px;
  top:13px;
  width:207px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1159px;
  height:248px;
}
#u1240 {
  position:absolute;
  left:18px;
  top:279px;
  width:1159px;
  height:248px;
}
#u1241 {
  position:absolute;
  left:2px;
  top:116px;
  width:1155px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1240_ann {
  position:absolute;
  left:1170px;
  top:275px;
  width:1px;
  height:1px;
}
#u1242 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1243_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:42px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u1243 {
  position:absolute;
  left:283px;
  top:412px;
  width:142px;
  height:42px;
  color:#FFFFFF;
  text-align:left;
}
#u1244 {
  position:absolute;
  left:2px;
  top:2px;
  width:138px;
  word-wrap:break-word;
}
#u1245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u1245 {
  position:absolute;
  left:285px;
  top:432px;
  width:12px;
  height:12px;
  -webkit-transform:rotate(15deg);
  -moz-transform:rotate(15deg);
  -ms-transform:rotate(15deg);
  transform:rotate(15deg);
}
#u1246 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u1247 {
  position:absolute;
  left:253px;
  top:403px;
  width:31px;
  height:31px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#333333;
}
#u1248 {
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1249 {
  position:absolute;
  left:237px;
  top:300px;
  width:47px;
  height:198px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1250 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1251_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:42px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u1251 {
  position:absolute;
  left:474px;
  top:371px;
  width:142px;
  height:42px;
  color:#FFFFFF;
  text-align:left;
}
#u1252 {
  position:absolute;
  left:2px;
  top:2px;
  width:138px;
  word-wrap:break-word;
}
#u1253_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u1253 {
  position:absolute;
  left:449px;
  top:352px;
  width:31px;
  height:31px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#333333;
}
#u1254 {
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1255_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u1255 {
  position:absolute;
  left:479px;
  top:393px;
  width:12px;
  height:12px;
  -webkit-transform:rotate(15deg);
  -moz-transform:rotate(15deg);
  -ms-transform:rotate(15deg);
  transform:rotate(15deg);
}
#u1256 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1257 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1258_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:42px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u1258 {
  position:absolute;
  left:694px;
  top:369px;
  width:142px;
  height:42px;
  color:#FFFFFF;
  text-align:left;
}
#u1259 {
  position:absolute;
  left:2px;
  top:2px;
  width:138px;
  word-wrap:break-word;
}
#u1260_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u1260 {
  position:absolute;
  left:663px;
  top:344px;
  width:31px;
  height:31px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#333333;
}
#u1261 {
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1262_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u1262 {
  position:absolute;
  left:697px;
  top:390px;
  width:12px;
  height:12px;
  -webkit-transform:rotate(15deg);
  -moz-transform:rotate(15deg);
  -ms-transform:rotate(15deg);
  transform:rotate(15deg);
}
#u1263 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1264 {
  position:absolute;
  left:407px;
  top:313px;
  width:61px;
  height:185px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1265 {
  position:absolute;
  left:639px;
  top:303px;
  width:50px;
  height:195px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1266_img {
  position:absolute;
  left:0px;
  top:0px;
  width:498px;
  height:16px;
}
#u1266 {
  position:absolute;
  left:30px;
  top:16px;
  width:498px;
  height:16px;
}
#u1267 {
  position:absolute;
  left:0px;
  top:0px;
  width:498px;
  word-wrap:break-word;
}
#u1268_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:6px;
  height:22px;
}
#u1268 {
  position:absolute;
  left:17px;
  top:14px;
  width:3px;
  height:19px;
}
#u1269 {
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
